<div class="block">
  <%= image_tag 'bg6.png', width: '100%', class: 'block_background' %>
  <p class="heading heading-left">Вы можете оформить заказ прямо сейчас!</p>
  <a href="#" class="button_right" id="button_type2">ЗАКАЗАТЬ</a>
</div>