<div class="block">
  <%= image_tag 'bg5.png', width: '100%', class: 'block_background' %>
  <div class='text_block_left'>
    <%= image_tag 'text-block_back.png', class: "bg_img"%>
    <p class="heading heading-center">Наши гарантии</p>
    <div class="text_in_block">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
        esse cillum dolore eu fugiat nulla pariatur.</p>

      <p> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
        officia deserunt mollit anim id est laborum.</p>
    </div>

  </div>
</div>