<div class="content">
  <div class="flexible_block">
    <%= image_tag 'backgr_short2.png',class: 'block_background' %>
    <%= image_tag 'map.png', class: 'block_background' %>
    <div class="contact_block f_block">
      <p class="heading heading-center">Наш e-mail</p>
      <div class="center_text">
        <p>ex@gmail.com</p>
        <p>e22@gmail.com</p>
        <p>ex231@gmail.com</p>
      </div>
    </div>
    <div class="contact_block s_block">
      <p class="heading heading-center">Наш адрес</p>
      <div class="center_text">
        <p>Украина</p>
        <p>г. Днепр</p>
        <p>ул. Столбовая, 33А</p>
      </div>
    </div>
    <div class="contact_block t_block">
      <p class="heading heading-center">Наш телефон</p>
      <div class="center_text">
        <p>+380670012374</p>
        <p>+380665766556</p>
        <p>+380935466699</p>
      </div>
    </div>
    <div class="call_back_block">
      <p class="white_header">
        Хотите, мы перезвоним Вам в удобное время?
      </p>
      <p class="reg_white_text">
        Мы перезвоним вам в
      </p>

    </div>
  </div>
</div>
