<h1>Восстановление пароля</h1>

<p>Для сброса пароля кликните на ссылку, расположенную ниже:</p>

<%= link_to "Сбросить пароль", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>Действие этой ссылки прекратится через 2 часа.</p>

<p>
  Если вы не посылали запрос на восстановление пароля, пожалуйста проигнорируйте это письмо.
</p>