<% provide(:title, 'All users') %>
<div class="content">
  <div class="index_block">
  <h1 class="heading">Список всех клиентов компании</h1>

  <%= will_paginate %>
  <ul class="users">
    <%= render @users %>
  </ul>
  <%= will_paginate %>
  </div>
</div>