<% provide(:title, @user.name) %>

<div class="content">
  <div class="order_block">
    <div class="order_window">
      Для того, чтобы сделать<br>
      заказ нажмите на кнопку
      <%= link_to "ЗАКАЗАТЬ",  new_order_path, class: "button_center", id:"button_type2"%>
    </div>
  </div>
  <div class="order_list">
    <p class="heading heading-center">
      Мои заказы
    </p>
    <div>
      <% if @user.orders.any? %>
        <ol class="orders">
          <%= render @orders %>
        </ol>
        <%= will_paginate @orders %>
      <% end %>
    </div>
  </div>

  <div class="edit_profile_block">
    <div class="position_center">
      <%= link_to "Редактировать профиль",  edit_user_path, class: "white_button"%>
    </div>

  </div>
</div>