<% provide(:title, @user.name) %>

<div class="content">
  <div class="order_block">
    <div class="order_window">
      Для того, чтобы сделать<br>
      заказ нажмите на кнопку
      <a href="#" class="button_center" id="button_type2">ЗАКАЗАТЬ</a>
    </div>
  </div>
  <div class="order_list">
    <p class="heading heading-center">
      Мои заказы
    </p>
  </div>
  <div class="edit_profile_block">
    <div class="position_center">
      <%= link_to "Редактировать профиль",  edit_user_path, class: "white_button"%>
    </div>

  </div>
</div>