<div class="content" style="padding-top: 150px">
  <span class="content"><%= @order.address %></span>
  <span class="content"><%= @order.created_at %></span>
  <span class="content"><%#= @order.goods_in_orders.box %></span>
</div>