<footer>
<div id="columns">
  <div id="column">
    <p>+38 066 00 00 000</p>
    <p>+38 066 00 00 000</p>
  </div>
  <div id="column">
    <p>Украина</p>
    <p>Днепр</p>
    <p>ул.Столбовая, 33А</p>
  </div>
  <div id="column"><p>ex@dmail.com</p></div>
  <div id="column">
    <%= image_tag 'social_network1.png'%>
    <%= image_tag 'social_network2.png'%>
    <%= image_tag 'social_network3.png'%>
  </div>
</div>
</footer>